@model ScheduleManager.Models.CalendarViewModel
@{
    ViewData["Title"] = "Calendar";
}

<div class="container">
    <div class="row">
        <div class="col">
            <form>
                <div class="form-group">
                    <label for="employee">Employee</label>
                    <select name="employee" class="form-control">
                        @foreach (var employee in Model.Employees)
                        {
                            <option value="@employee.EmployeeId" selected="@(employee.EmployeeId == Model.SelectedEmployeeId ? "selected" : null)">@employee.Fullname</option>
                        }
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="calendar"></div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script type="text/javascript" src="~/lib/fullcalendar-4.1.0/packages/core/main.min.js"></script>
    <script type="text/javascript" src="~/lib/fullcalendar-4.1.0/packages/timegrid/main.min.js"></script>
    <script type="text/javascript" src="~/lib/fullcalendar-4.1.0/packages/daygrid/main.min.js"></script>
    <script type="text/javascript">
        $(function () {

            var element = $('#calendar').get(0);
            var calendar = new FullCalendar.Calendar(element, {
                plugins: ['dayGrid'],
                defaultView: 'dayGridMonth',
                events: '/api/Calendar/1'
            });

            calendar.render();

        });
    </script>
}